{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<!--
<h1>{{ page_title }}<br /></h1>
<a href="/revisionlist/{{ page_title }}">View revision list</a><br>
<em>Version: {{ version }} Last Edited: {{ version_date|date:"P M d, Y"}}</em>
-->
    {% if body %}
        <div id="pb">
            {{ body }}
        </div>
        <!--
    {% if author %}
        <em>By: <a href="/user/{{ author_email }}">{{ author }} </a></em>
    {% endif %}
        <p>
            <a href="/edit/{{ page_title }}">Edit this page</a>
        </p>
        -->
    {% else %}
        <div id="pb">
          <h1>Forbidden</h1>
          <p>This is restricted area, no access for you.</p>
        </div>
    {% endif %}
{% endblock %}
